@import "styles/breakpoints";
@import "styles/mixins";
@import "sass-mq";

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.article {
  @include format-reset;
  display: grid;
  gap: 24px;
  grid-template: "heading" "paragraph" auto / 1fr;
  height: 480px;
  max-height: calc(100% - 64px * 2);
  @include mq($until: tablet) {
    padding: 24px;
  }
  @include mq($from: tablet) {
    padding: 24px 36px;
  }
}

.heading {
  grid-area: heading;
}

.paragraph {
  grid-area: paragraph;
}
