@import "styles/breakpoints";
@import "styles/mixins";
@import "sass-mq";

.wrapper {
  align-items: center;
  display: flex;
}

.inner {
  @include format-reset;
  height: 480px;
  max-height: calc(100% - 64px * 2);
  @include mq($until: tablet) {
    padding: 24px;
  }
  @include mq($from: tablet) {
    padding: 24px 36px;
  }
}

.prevPaginationWrapper {
  padding: 0 0 0 24px;
}

.paginationWrapper {
  display: flex;
  justify-content: space-between;
}

.list {
  display: grid;
  gap: 24px;
}

.anchor {
  align-items: center;
  display: grid;
  grid-template: auto / 1fr auto;
}

.date {
  font-size: 1.2rem;
}

.nextPaginationWrapper {
  padding: 0 24px 0 0;
}
