@import "styles/breakpoints";
@import "styles/mixins";
@import "sass-mq";

.wrapper {
  align-items: center;
  display: flex;
}

.article {
  @include format-reset;
  align-items: center;
  display: grid;
  gap: 24px 12px;
  grid-template: "heading date" "articleWrapper articleWrapper" auto / 1fr auto;
  height: 640px;
  max-height: calc(100% - 64px * 2);
  @include mq($until: tablet) {
    padding: 24px;
  }
  @include mq($from: tablet) {
    padding: 24px 36px;
  }
}

.heading {
  grid-area: heading;
}

.date {
  font-size: 1.2rem;
  grid-area: date;
}

.articleWrapper {
  grid-area: articleWrapper;
}

.anchor {
  cursor: pointer;
  display: flex;
  filter: drop-shadow(4px 4px 4px rgba(#000, 0.25));
  justify-content: center;
}

.image {
  max-height: 80%;
  max-width: 80vw;
}

.list {
  list-style: disc;
  margin: 1.6rem 0 0;
}
