@import "styles/mixins";

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.formInner {
  @include format-reset;
  display: grid;
  gap: 24px;
  height: 480px;
  max-height: calc(100% - 64px * 2);
  padding: 24px;
}

.fieldWrapper {
  display: grid;
  gap: 4px;
  position: relative;
}

.required {
  padding: 4px;
}

.input,
.textarea {
  background: #fff;
  border: 1px solid #000;
  outline: 0;
  padding: 4px;
}

.textarea {
  width: 360px;
  overflow: scroll hidden;
}

.errorWrapper {
  background: #f00;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  margin: 0 8px 0 0;
  padding: 12px 2px;
  position: absolute;
  right: 100%;
  top: 0;
  z-index: 1;
}

.errorWrapper::before {
  background: inherit;
  content: "";
  display: block;
  height: 8px;
  margin: 12px -4px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  width: 8px;
}

.button {
  background: #fff;
  border: 1px solid #000;
  justify-self: center;
  padding: 16px 8px;
}

.buttonInner {
  @include format-reset;
}
